adbc_driver_manager==1.10.0
adbc_driver_postgresql==1.10.0
adbc_driver_sqlite==1.10.0
AppKit==0.2.8
attr==0.3.2
beautifulsoup4==4.14.3
botocore==1.42.71
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.2.0
checks==0.2
ConfigParser==7.2.0
cryptography==46.0.5
cycler==0.12.1
Cython==3.2.4
docutils==0.22.4
fastparquet==2026.3.0
filelock==3.25.2
Foundation==0.1.0a0.dev1
fsspec==2026.2.0
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.151.9
ipython==9.11.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.10.8
mtrand==0.1
mypy==1.19.1
numexpr==2.14.1
odfpy==1.4.1
openpyxl==3.1.5
protobuf==7.34.0
psutil==7.2.2
PyInstaller==6.19.0
pyodide==0.0.2
pyOpenSSL==26.0.0
PyQt4==4.11.4
PyQt5==5.15.11
pytest==9.0.2
pytest_run_parallel==0.8.2
python_calamine==0.6.2
pytz==2026.1.post1
pyxlsb==1.0.10
PyYAML==6.0.3
qtpy==2.4.3
redis==7.3.0
s3fs==2026.2.0
scikit_learn==1.8.0
scipy==1.17.1
scipy_doctest==2.2.0
setuptools==82.0.1
simplejson==3.20.2
Sphinx==9.1.0
SQLAlchemy==2.0.48
tables==3.11.1
thread==2.0.6
threadpoolctl==3.6.0
traitlets==5.14.3
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
